{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <article class="card">
                    <header class="card-header">
                        <h1 style="text-align: center;">Te damos la bienvenida!</h1>
                        <span>{{ user.full_name }}</span>
                    </header>
                    <div class="card-body">
                        <!-- Botón: Ver Órdenes -->
                        <div class="row">
                          <a href="{% url 'my_orders' %}" class="btn btn-primary btn-block" style="margin-inline: 20%; margin-block-start: 5%;">
                            Ver mis órdenes
                          </a>
                        </div> <!-- row.1// -->

                        <!-- Botón: Información del Usuario -->
                        <div class="row">
                          <a href="" class="btn btn-secondary btn-block" style="margin-inline: 20%; margin-block-start: 5%;">
                            Información de mi cuenta
                          </a>
                        </div> <!-- row.2// -->

                        <!-- Botón: Cerrar Sesión -->
                        <div class="row">
                            <a class="btn btn-light btn-block" href="{% url 'account_logout' %}" style="margin-inline: 20%; margin-block-start: 5%; margin-block-end: 2%;">
                                <i class="fa fa-power-off"></i> <span class="text">Cerrar sesión</span>
                            </a>
                        </div> <!-- row.3// -->

                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- ROW -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
