{% extends "base.html" %}

{% block content %}
<h1>Listado de Cuentas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre de Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Activo</th>
            <th>Es Staff</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.email }}</td>
            <td>{{ account.username }}</td>
            <td>{{ account.first_name }}</td>
            <td>{{ account.last_name }}</td>
            <td>{{ account.is_active|yesno:"Sí,No" }}</td>
            <td>{{ account.is_staff|yesno:"Sí,No" }}</td>
            <td>
                <a href="{% url 'adminApp:account_update' account.id %}" class="btn btn-primary btn-sm">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
