{% extends "base.html" %}

{% block content %}
<h1>Listado de Categorías</h1>
<a href="{% url 'category_create' %}" class="btn btn-primary">Crear Nueva Categoría</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a href="{% url 'category_update' category.id %}">Editar</a>
                <a href="{% url 'category_delete' category.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
