{% extends "base.html" %}

{% block content %}
<h1>Dashboard Administrativo</h1>
<ul>
    <li><a href="{% url 'adminApp:category_list' %}">Gestionar Categorías</a></li>
    <li><a href="{% url 'adminApp:product_list' %}">Gestionar Productos</a></li>
    <li><a href="{% url 'adminApp:reviewrating_list' %}">Gestionar Reviews de Productos</a></li>
    <li><a href="{% url 'adminApp:inventory_list' %}">Gestionar Inventarios de Productos</a></li>
</ul>
<div>
    <p>Total Categorías: {{ category_count }}</p>
</div>
{% endblock %}
