{% extends "base.html" %}

{% block content %}
<h1>Detalles de la Orden #{{ order.id }}</h1>
<p>Usuario: {{ order.user.email|default_if_none:"Anónimo" }}</p>
<p>Estado: {{ order.get_status_display }}</p>
<p>Precio Total: {{ order.total_price }}</p>
<p>Fecha de Creación: {{ order.created_at }}</p>

<a href="{% url 'adminApp:export_order_items_csv' order.id %}" class="btn btn-success">Exportar a CSV</a>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_items %}
        <tr>
            <td>{{ item.product.product_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
