{% extends "base.html" %}

{% block content %}
<h1>Listado de Productos</h1>
<div class="mb-3">
    <a href="{% url 'adminApp:product_create' %}" class="btn btn-primary">Crear Nuevo Producto</a>
    <a href="{% url 'adminApp:export_products_csv' %}" class="btn btn-success">Exportar a CSV</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Disponible</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.category_name }}</td>
            <td>{{ product.is_available|yesno:"Sí,No" }}</td>
            <td>
                <a href="{% url 'adminApp:product_update' product.id %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'adminApp:product_delete' product.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
