{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Listado de Reseñas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Usuario</th>
                <th>Asunto</th>
                <th>Calificación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ review.product.product_name }}</td>
                <td>{{ review.user.email }}</td>
                <td>{{ review.subject }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    <a href="{% url 'adminApp:reviewrating_delete' review.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row" style="padding-left: 5%; padding-bottom: 5%; padding-top: 2%;">
        <a href="{% url 'adminApp:dashboard' %}" class="btn btn-secondary">Volver</a>
    </div>

</div>

{% endblock %}
