{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Gráfico de Ventas</h1>
    <canvas id="salesChart" width="400" height="200"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('salesChart').getContext('2d');

    async function fetchSalesData() {
        const response = await fetch('/admin/api/sales-data/');
        const data = await response.json();

        const labels = data.map(item => item.product__product_name);
        const values = data.map(item => parseFloat(item.total_sales));

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Ventas Totales',
                    data: values,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    fetchSalesData();
</script>

<div class="row" style="padding-left: 50%; padding-bottom: 5%; padding-top: 2%;">
    <a href="{% url 'adminApp:dashboard' %}" class="btn btn-secondary">Volver</a>
</div>
{% endblock %}
